<% provide(:title, 'About') %>

<h1 id = "white-title-home"><%= image_tag("iconwhite.png") %> About WWYDH</h1>

<br>

<div class="row vertical-center-row">
  <div class="text-center col-md-4 col-md-offset-4">
    <p>
      WWYDH facilitates economic and social revitalization in Baltimore by
      combining the existing vacant and underutilized built infrastructure with
      the creative imagination and skills of people throughout the city.  We
      begin by asking the simplest question, "What would you do here?"
    </p>
  </div>
</div>

</body>
