<% provide(:class, 'full') %>
<% provide(:title, 'About') %>
<h1 id = "white-title-home" class="text-center">About WWYDH</h1>
<br>
<div class="container">
  <div class="row vertical-center-row">
    <div class="text-center col-sm-6 col-sm-offset-3">
      <blockquote>
        <p class="text-center" style="font-size: 1.2em; color: #333333;">
          WWYDH facilitates economic and social revitalization in Baltimore by
          combining the existing vacant and underutilized built infrastructure with
          the creative imagination and skills of people throughout the city.  We
          begin by asking the simplest question, "What would you do here?"
        </p>
        <!-- <footer class="text-right">John Doe</footer> -->
      </blockquote>
    </div>
  </div>
</div>
<br>
<div class="container container-gloss">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="color: grey;">How It Works</h1>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Idea</h3>
      <h1 id = "white-title-home"><%= image_tag("idea.png", height:'160', width:'160') %></h1>
      <p class="text-center">
        Submit an idea to WWYDH. Once it gets enough upvotes from other users,
        you have the ability as idea leader to move your idea on to the next
        stage.
      </p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Matchmaking</h3>
      <h1 id = "white-title-home"><%= image_tag("matchmaking.png", height:'160', width:'160') %></h1>
      <p class="text-center">
        Your idea is matched with other ideas for the same vacant location. A
        checklist of people and resources your idea will need is generated.
        Once the checklist is complete, your idea is reviewed so it can move on
        to the next stage.
      </p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Implementation</h3>
      <h1 id = "white-title-home"><%= image_tag("implementation.png", height:'160', width:'160') %></h1>
      <p class="text-center">
        Your idea becomes a project, and the project is implemented by anyone
        willing to contribute his or her time and skills to turn a vacant lot
        into a useful space for the community.
      </p>
    </div>
  </div>
</div>
