<% provide(:title, 'All Properties') %>

<h1>Vacants</h1>

<%= will_paginate @vacants, previous_label: "&larr; Prev",
next_label: "Next &rarr;", renderer: BootstrapPagination::Rails %>

<% @vacants.each do |vacant| %>
	<h3><%= vacant.fulladdress %></h3>
	<p> <%= vacant.policedistrict %></p>
	<hr>
	<hr>
<% end %>

<%= will_paginate @vacants, previous_label: "&larr; Prev",
next_label: "Next &rarr;", renderer: BootstrapPagination::Rails %>
