<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-4 col-sm-offset-4"> -->
    <h4 class="text-center">Advanced Search: Users</h4>
    <br>
    <div class="col-sm-12">
      <% if request.path.include?('users') then @remote_flag = true end %>

      <%= form_tag users_path, method: "get", id: "search-form", remote: @remote_flag do %>
        <%= text_field_tag :username, params[:username], class: "form-control", placeholder: "Username " %><br>
        <%= submit_tag "Search", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
