<% provide(:title, 'Projects') %>

<h1>Projects</h1>

<hr class="hr-half">

<div class="row">

  <div class="col-sm-3">
    <%= render 'projects/advanced_search' %>

    <div id="spinner" class="spinner text-center">
      <%= image_tag 'ripple-large.gif', style: 'padding-top: 10px;' %>
    </div>
  </div>

  <div class="col-sm-9" id="results-wrap">

    <%= render 'table_results' %>

  </div>

</div>
