/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require normalize-rails
*= require_tree .
*= require_self
*= require commontator/application
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  margin-bottom: 60px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  // font-weight: 500;
}

.container-gloss {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 4px;
}

.container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  padding: 8px;
  margin: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: grey;
}

.nav > li > a:hover {
  background-color: darkgrey;
}

#links_from_home {
  font-size: 18px;
}

@media (max-width: 810px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
