@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

.footer {
  background: #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid $gray-medium-light;
  .container {
    width: 100%;
    background: #e7e7e7;
    border-radius: 0px;
  }
  .text-muted {
    color: #777;
    margin: 20px 0;
    padding-left: 25px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

ul {
  list-style-type: none;
}

.map_margin {
  margin-bottom: 30px;
}

#links_from_home {
  border: 1px solid lightgrey;
  margin: 5px 15px 100px 15px;
  padding: 0px;
}

/* Index Page */

#white-title-home{
	color: #fff;
}

.full {
  background: image-url('city.jpeg') no-repeat center center fixed;
  // background: image-url('city.jpeg') no-repeat scroll center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // background-size: 100%;
  background-size: cover;
}

.full2 {
  background: image-url('brickwall.png') center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
}

.style_image {
  border-right:  2px solid #000;
  border-left:   2px solid #000;
  border-top:    2px solid #000;
  border-bottom: 2px solid #000;
}

// Navbar

#custom-navbar {
  border-radius: 0;
}

.navbar-brand > img {
	height: 100%;
	width: auto;
}

// .navbar-default li {
//   -webkit-transition: background 0.3s;
//   transition: background 0.3s;
//   &:hover {
//     background: lightgrey;
//   }
// }

.dropdown-menu > li {
  text-align: center;
}

// Dynamic form menu

.centered-pills {
  text-align: center;
}
.centered-pills ul.nav-pills {
  display: inline-block;
}
// Center tabs
.centered-pills ul.nav-tabs {
  display: inline-block;
}
.centered-pills li {
  display: inline;
}
.centered-pills a {
  float: left;
}

// Table Results

.table-hover {
  border-left: 2px solid lightgrey;
}

// Horizontal Rule

.hr-half {
  width: 50%;
}

// GitHub icon

.fa-github {
  padding-right: 25px;
}
