<footer class="footer" style="background: transparent;">
  <div class="container">
    <p class="text-muted">
      &copy; WWYDH 2016
      <%= link_to 'https://github.com/1cph93/WWYDH', target: "_blank" do %>
        <span class="fa fa-github fa-2x" style="float: right;"></span>
      <% end %>
    </p>
  </div>
</footer>
