<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag vacants_path, method: "get", id: "search-form" do %>
        <div class="input-group">
          <%= text_field_tag :full_address, params[:full_address], class: "form-control", placeholder: "Search Address" %>
          <!-- <%= text_field_tag :neighborhood, params[:neighborhood], class: "form-control", placeholder: "Search Neighborhood" %> -->
          <span class="input-group-btn">
            <%= submit_tag "Search", class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
